#
# {{ ansible_managed }}
#
limit_req_zone $binary_remote_addr zone=mb_forum:1m rate=2r/s;

##
# Only rate-limit traffic NOT from NL or BE
# Empty key = request is not accounted by limit_req_zone
##
map $geoip2_country_code $country_aware_remote_addr {
    NL      "";
    BE      "";
    default $binary_remote_addr;
}

##
# Separate limiter for foreign IPs
##
limit_req_zone $country_aware_remote_addr zone=mb_by_country:10m rate=10r/m;

limit_req_zone $binary_remote_addr zone=static_assets rate=20r/s;

# Proxy to backing Docker containers

upstream {{ mb_docker_nginx_prefix }}_django {
    server 127.0.0.1:{{ mb_docker_django_port }};
}

upstream {{ mb_docker_nginx_prefix }}_phpbb {
    server 127.0.0.1:{{ mb_docker_phpbb_port }};
}

upstream {{ mb_docker_nginx_prefix }}_shop {
    server 127.0.0.1:{{ mb_docker_shop_port }};
}

# Redirect non-https to https
server {
    listen 80;
    server_name {{ mb_docker_server.name }} {{ mb_docker_server.aliases|join(' ') }};
    return 301 https://{{ server.name }}$request_uri;
}

# https virtual host
server {
    listen 443 ssl http2;
    server_name {{ mb_docker_server.name }} {{ mb_docker_server.aliases|join(' ') }};

    limit_req zone=mb_by_country burst=15 nodelay;
    limit_req_status 429;

    root {{ docroot }};

    error_log {{ mb_docker_nginx_log_dir }}/error.log warn;
    access_log  {{ mb_docker_nginx_log_dir }}/access.log main;

    charset utf-8;

    add_header Strict-Transport-Security "max-age=63072000; includeSubdomains; preload" always;

    # SSL configuration
    ssl_certificate {{ mb_docker_nginx_certs }}/fullchain.pem;
    ssl_certificate_key {{ mb_docker_nginx_certs }}/privkey.pem;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ecdh_curve X25519:prime256v1:secp384r1;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384;
    ssl_prefer_server_ciphers off;
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions
    ssl_session_tickets off;

    # gzip static files
    gzip on;
    gzip_min_length 1000;
    gzip_types
        text/css
        text/plain
        text/javascript
        application/javascript
        application/x-javascript
        application/json;

    {%- for blocked_ui in blocked_user_agents %}
    if ($http_user_agent {{ blocked_ui.operator }} "{{ blocked_ui.ua }}") {
        return 403;
    }
    {% endfor %}

    location ~ /\.ht {
        deny all;
    }

    location /index.php {
        return 301 /winkel/;
    }

    location /phpBB3 {
        {% include 'includes/proxy.j2' %}

        proxy_pass http://{{ mb_docker_nginx_prefix }}_phpbb;
        limit_req zone=mb_forum burst=5;
        limit_req_status 429;
    }

    location /phpBB3/images/ {
        {% include 'includes/proxy.j2' %}

        proxy_pass http://{{ mb_docker_nginx_prefix }}_phpbb;
        expires max;
        limit_req zone=static_assets burst=15;
    }

    location /phpBB3/styles/ {
        {% include 'includes/proxy.j2' %}
        proxy_pass http://{{ mb_docker_nginx_prefix }}_phpbb;
        expires max;
    }

    location ~* ^/winkel/(en|de)/contact/? {
        return 301 /winkel/contact;
    }

    location /winkel/contact {
        {% include 'includes/proxy.j2' %}
        proxy_pass http://{{ mb_docker_nginx_prefix }}_django;
    }

    location /winkel {
        {% include 'includes/proxy.j2' %}
        proxy_pass http://{{ mb_docker_nginx_prefix }}_shop;
    }

    location /winkel/images/ {
        {% include 'includes/proxy.j2' %}
        proxy_pass http://{{ mb_docker_nginx_prefix }}_shop;
        limit_req zone=static_assets burst=15;
        expires max;
    }

    location /winkel/image/ {
        {% include 'includes/proxy.j2' %}

        proxy_pass http://{{ mb_docker_nginx_prefix }}_shop;
        limit_req zone=static_assets burst=15;
        expires max;
    }

    location / {
        {% include 'includes/proxy.j2' %}

        proxy_pass http://{{ mb_docker_nginx_prefix }}_django;
    }

    location /favicon.ico {
        alias {{ docroot }}/favicon.ico;
        expires max;
    }

    location /static/ {
        expires max;
        alias {{ mb_docker_volumes.static.symlink }}/;
        limit_req zone=static_assets burst=15;
    }

    location /media/ {
        expires 30d;
        alias {{ mb_docker_volumes.media.symlink }}/;
        limit_req zone=static_assets burst=15;
    }

    location /protected/ {
        internal;
        alias {{ mb_docker_volumes.media_sendfile.symlink }}/;
    }

    location ~ ^/docs/ {
        rewrite ^/docs/(.*)$ /media/docs/$1 permanent;
        limit_req zone=static_assets burst=15;
    }

    location /albums/coppermine/ {
        expires max;
        alias {{ mb_docker_volume_storage_root }}/legacy/coppermine/;
        limit_req zone=static_assets burst=15;
    }
}

# Legacy Coppermine albums

server {
    listen 80;
    server_name albums.{{ mb_docker_server.name }};
    return 301 https://albums.{{ mb_docker_server.name }}$request_uri;
}

server {
    listen 443 ssl http2;
    server_name albums.{{ mb_docker_server.name }};
    root {{ mb_docker_volume_storage_root }}/legacy/;

    error_log {{ mb_docker_nginx_log_dir }}/error.log warn;
    access_log  {{ mb_docker_nginx_log_dir }}/access.log main;

    charset utf-8;

    # SSL configuration
    ssl_certificate {{ mb_docker_nginx_legacy_certs }}/fullchain.pem;
    ssl_certificate_key {{ mb_docker_nginx_legacy_certs }}/privkey.pem;
    ssl_protocols TLSv1.2 TLSv1.1 TLSv1;  # TLSv1.3 is nginx 1.13+
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4 ";

    # 180 days
    add_header Strict-Transport-Security "max-age=15552000; includeSubdomains; preload";

    location ~ /\.ht {
        deny all;
    }

    location /coppermine/ {
        return 301 https://{{ mb_docker_server.name }}/albums$request_uri;
    }
}
