# Root and www
upstream production_django {
    server 127.0.0.1:8002;
}

server {
    listen 80;
    server_name modelbrouwers.nl www.modelbrouwers.nl;
    return 301 https://modelbrouwers.nl$request_uri;
}

server {
    listen       443;
    server_name  modelbrouwers.nl www.modelbrouwers.nl shop.modelbrouwers.nl;
    error_log /var/log/nginx/modelbrouwers.nl.error.log warn;
    access_log  /var/log/nginx/modelbrouwers.nl.access.log main;

    charset utf-8;
    root {{ ansible_env.HOME }}/public_html;

    ssl on;
    ssl_certificate /usr/local/nginx/conf/ssl/www.modelbrouwers.nl/ssl-unified.crt;
    ssl_certificate_key /usr/local/nginx/conf/ssl/www.modelbrouwers.nl/ssl.key;
    ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4 ";

    set $maintenance off;
    if (-f $document_root/maintenance.html ) {
        set $maintenance on;
    }
    if ($remote_addr = "163.158.230.128") {
        set $maintenance off;
    }
    if ($maintenance = on) {
        return 503;
    }

    location ~ /\.ht {
        deny all;
    }

    location / {
        include /usr/local/nginx/conf/proxy.conf;
        proxy_pass http://127.0.0.1:8080;

        proxy_intercept_errors on;
        recursive_error_pages on;
        error_page 403 = @django;
        error_page 404 = @django;
        error_page 405 = @django;
    }

    location @django {
        uwsgi_pass production_django;
        include uwsgi_params;
    }

    location /favicon.ico {
        alias {{ ansible_env.HOME }}/public_html/favicon.ico;
        expires max;
    }

    location /static/ {
        expires max;
        root {{ ansible_env.HOME }}/django/production;
        access_log  /var/log/nginx/static.modelbrouwers.nl.access.log;
    }

    location /media/ {
        expires 30d;
        root {{ ansible_env.HOME }}/django/production;
        access_log  /var/log/nginx/media.modelbrouwers.nl.access.log;
    }

    location /protected/ {
        internal;
        alias {{ ansible_env.HOME }}/django/production/media_sendfile/;
    }

    location /shop/catalog/images/ {
        expires max;
    }

    location /catalog/images/ {
        expires max;
        root {{ ansible_env.HOME }}/public_html/shop;
    }

    location /winkel/images/ {
        expires max;
    }

    location /winkel/image/ {
        expires max;
    }

    location /phpBB3/images/ {
        expires max;
    }

    location /phpBB3/styles/ {
        expires max;
    }

    location /albums/coppermine/albums/ {
        expires max;
    }

    error_page 503 @maintenance;
    location @maintenance {
        rewrite ^(.*)$ /maintenance.html break;
        internal;
    }
}

upstream staging_django {
    server 127.0.0.1:8001;
}

server {
    listen 80;
    server_name staging.modelbrouwers.nl www.staging.modelbrouwers.nl;
    return 301 https://staging.modelbrouwers.nl$request_uri;
}

server {
    listen 443;
    server_name staging.modelbrouwers.nl www.staging.modelbrouwers.nl;
    error_log /var/log/nginx/staging.modelbrouwers.error.log warn;
    access_log  /var/log/nginx/staging.modelbrouwers.access.log  main;
    charset utf-8;

    root {{ ansible_env.HOME }}/public_html/staging;

    ssl on;
    ssl_certificate /usr/local/nginx/conf/ssl/staging.modelbrouwers.nl/ssl-unified.crt;
    ssl_certificate_key /usr/local/nginx/conf/ssl/staging.modelbrouwers.nl/ssl.key;
    ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4 ";

    set $maintenance off;
    if (-f $document_root/maintenance.html ) {
    set $maintenance on;
    }
    if ($remote_addr = "62.45.209.60") {
        set $maintenance off;
    }
    if ($maintenance = on) {
        return 503;
    }

    location ~ /\.ht {
        deny all;
    }

    location / {
        include /usr/local/nginx/conf/proxy.conf;
        proxy_pass http://127.0.0.1:8080;

        proxy_intercept_errors on;
        recursive_error_pages on;
        error_page 403 = @django;
        error_page 404 = @django;
        error_page 405 = @django;
    }

    location @django {
        uwsgi_pass staging_django;
        include uwsgi_params;
    }

    location /favicon.ico {
        alias {{ ansible_env.HOME }}/public_html/favicon.ico;
        expires max;
    }

    location /static/ {
        root {{ ansible_env.HOME }}/django/staging;
        expires max;
    }
    location /media/ {
        root {{ ansible_env.HOME }}/django/staging;
        expires max;
    }

    location /protected/ {
        internal;
        alias {{ ansible_env.HOME }}/django/staging/media_sendfile/;
    }

    error_page 503 @maintenance;
    location @maintenance {
        rewrite ^(.*)$ /maintenance.html break;
        internal;
    }
}

server {
    listen 80;
    server_name albums.modelbrouwers.nl www.albums.modelbrouwers.nl;

    error_log /var/log/nginx/modelbrouwers.nl.error.log warn;
    access_log /var/log/nginx/modlebrouwers.nl.access.log main;

    root {{ ansible_env.HOME }}/public_html/albums;

    location ~ /\.ht {
        deny all;
    }

    location /coppermine/ {
        expires max;
    }
}
