# Ansible generated virtual host

<VirtualHost 127.0.0.1:8080 >

    <Directory {{ ansible_env.HOME }}/public_html>
        AllowOverride All
        SetEnv STATIC_URL /static/
        SetEnv DEBUG 0
        SetEnv KEY_PREFIX {{ env }}
        SetEnv RAVEN_DSN '{{ sentry.php }}'
        # php_admin_flag safe_mode OFF
        # php_admin_flag engine ON
        # php_admin_value sendmail_path '/usr/sbin/sendmail -t -i -f modelbrouw@modelbrouwers.nl'
        # php_admin_value open_basedir /home/modelbrouw/:/tmp:/var/tmp:/usr/local/lib/php/
        Require all granted
    </Directory>

    Header always append X-Frame-Options SAMEORIGIN

    ServerName {{ server.name }}
    ServerAlias {{ server.aliases|join(' ') }}
    ServerAdmin webmaster@{{ server.name }}
    DocumentRoot {{ ansible_env.HOME }}/public_html

    UseCanonicalName OFF

    # Log configuration
    CustomLog /var/log/apache2/{{ user }}/access.bytes bytes
    CustomLog /var/log/apache2/{{ user }}/access.log combined
    ErrorLog /var/log/apache2/{{ user }}/error.log

    # Redirects and Aliases
    Redirect /index.php     https://{{ server.name }}/winkel/
    Alias /albums/coppermine    {{ ansible_env.HOME }}/public_html/_albums/coppermine
</VirtualHost>
