upstream {{ nginx_prefix }}_backend {
    server 127.0.0.1:{{ nginx_proxy_port }};
}

# redirect non-ssl to ssl
server {
    listen 80;
    server_name {{ nginx_hostname }};
    return 301 https://{{ nginx_hostname }}$request_uri;
}

## Set a variable to help us decide if we need to add the
## 'Docker-Distribution-Api-Version' header.
## The registry always sets this header.
## In the case of nginx performing auth, the header will be unset
## since nginx is auth-ing before proxying.
map $upstream_http_docker_distribution_api_version $docker_distribution_api_version {
  '' 'registry/2.0';
}

# ssl
server {
    listen       443;
    server_name  {{ nginx_hostname }};

    error_log /var/log/nginx/{{ nginx_prefix }}/error.log warn;
    access_log  /var/log/nginx/{{ nginx_prefix }}/access.log main;

    charset utf-8;

    ssl on;
    ssl_certificate_key /etc/letsencrypt/live/{{ nginx_ssl_host }}/privkey.pem;
    ssl_certificate /etc/letsencrypt/live/{{ nginx_ssl_host }}/fullchain.pem;
    ssl_protocols TLSv1.2 TLSv1.1 TLSv1;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
    ssl_prefer_server_ciphers on;
    ssl_ciphers "EECDH+ECDSA+AESGCM EECDH+aRSA+AESGCM EECDH+ECDSA+SHA384 EECDH+ECDSA+SHA256 EECDH+aRSA+SHA384 EECDH+aRSA+SHA256 EECDH+aRSA+RC4 EECDH EDH+aRSA RC4 !aNULL !eNULL !LOW !3DES !MD5 !EXP !PSK !SRP !DSS !RC4 ";

    # add_header Strict-Transport-Security "max-age=31536000; includeSubDomains";

    # disable any limits to avoid HTTP 413 for large image uploads
    client_max_body_size 0;

    # required to avoid HTTP 411: see Issue #1486 (https://github.com/moby/moby/issues/1486)
    chunked_transfer_encoding on;


    location ~ /\.ht {
        deny all;
    }

    location / {
        # Do not allow connections from docker 1.5 and earlier
        # docker pre-1.6.0 did not properly set the user agent on ping, catch "Go *" user agents
        if ($http_user_agent ~ "^(docker\/1\.(3|4|5(?!\.[0-9]-dev))|Go ).*$" ) {
            return 404;
        }

        auth_basic "Login to continue";
        auth_basic_user_file /home/{{ docker_registry_username }}/passwdfile;

        ## If $docker_distribution_api_version is empty, the header is not added.
        ## See the map directive above where this variable is defined.
        add_header 'Docker-Distribution-Api-Version' $docker_distribution_api_version;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_pass http://{{ nginx_prefix }}_backend;
        proxy_read_timeout                  900;
        proxy_redirect off;
    }
}
