#!/bin/bash

# get the generic backup functions
source {{ backups_dir }}/incremental_backup.sh

# define the input variables
src={{ forum_images_path }}
target={{ backups_dir }}/forum/

# run the actual backup
run_backup "forum images" $src $target
